[submodule "lib/googletest"]
	path = tests/lib/googletest
	url = https://github.com/google/googletest.git

[submodule "examples/libs/argparse"]
	path = examples/libs/argparse
	url = https://github.com/jamolnng/argparse.git